{% extends "base.html" %}
{% from 'macros.html' import suddendev_header %}
{% block body %}

  <div class="container">
      {{ suddendev_header() }}

      <h2>A co-op survival game where your code plays for you.</h2>
      <br>

        <div class="panel panel-primary">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseZero">
              <h4 class="panel-title">
	        <a class="accordion-toggle">
                Getting Started
                </a>
              </h4>
            </div>
          <div id="collapseZero" class="panel-collapse collapse in">
            <div class="panel-body">
                Welcome to Sudden_Dev!

                The objective of this game is to program a bot to survive against waves of enemies and work together with your teammates who will be trying to do the same. 
	    </div>
          </div>
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
            <h4 class="panel-title">
              <a class="accordion-toggle">
              Gameplay Basics
              </a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse">
            <div class="panel-body">
	    Now that we know who you are, I know who I am. I'm not a mistake! It all makes sense! In a comic, you know how you can tell who the arch-villain's going to be? He's the exact opposite of the hero. And most times they're friends, like you and me! I should've known way back when... You know why, David? Because of the kids. They called me Mr Glass.
	    </div>
          </div>
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
            <h4 class="panel-title">
              <a class="accordion-toggle">
              Scripting Basics
              </a>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
                In order to control your character, you will have to write a script - a series of instructions which will tell your bot where to go and what to do. This script will have to be written in Python, which is a widely used programming language. If you don't know how to write Python, don't worry - there are plenty of resources online as well as examples below to help you get started.<br><br>

                <b> The basics </b><br>
                In your script, only one function is required:<br>
                <code>update(self, delta)</code>
                <br><br>

                This function will dictate what your character does every frame. You will probably want to instruct your bot to either go somewhere or shoot something. You might want to make use of these functions:<br><br>
                <code>move_to(self, entity)<br></code>
                <code>move_to_pos(self, pos)<br></code>
                <code>shoot(self, enemy)</code>
                <br><br>
                To explain what the arguments represent, it's important to note that everything in the game is an 'Entity'. Every entity has a set of attributes that you can access freely (and in some cases modify), such as their position, velocity or health. So if you have a reference to a powerup's entity, by calling<br><br>

                <code>move_to(self, powerup)</code><br><br>

                your character will move towards the powerup. If you prefer to deal with coordinates directly, every entity's position can be accessed by their '.pos' attribute, e.g. powerup.pos. This returns a Vector, which has a x and a y attribute. Therefore, calling<br><br>

                <code>move_to_pos(self, powerup.pos)</code><br><br>

                also moves your bot towards the powerup. Similarly, you can use the<br><br>
                <code>move_from(self, entity)</code>
                <code>move_from_pos(self, pos)</code><br><br>
                which make your character move away from the entity. All of these functions optionally accept speed as a parameter, so calling<br><br>
                <code>move_to(self, powerup, 80)</code><br><br>
                makes your character go towards the powerup with speed 80.<br><br>
                

                <b>How do you get hold of these entities?</b><br><br>
                You have access to these lists, which you can freely use in your code:<br>
                <code>enemies_visible</code>, which contains all the enemy entities that your character can see<br>
                <code>enemies_attackable</code>, which contains all the enemy entities that your character can attack<br>
                <code>powerups_visible</code>, which contrains all the powerups that your character can see<br><br>

                You can access and iterate through these lists just like in ordinary Python. Often you might want to find the nearest object in the list, for example, the nearest visible enemy. For this purpose, you can use this function:<br><br>

                <code>get_nearest(self, entities)</code><br><br>

                which returns the closest entity from a given list. For example, <br><br>

                <code>get_nearest(self, enemies_visible)</code><br><br>

                will return the nearest enemy that your character can see. If you'd prefer to iterate through the list yourself, you might find this function useful<br><br>

                <code>distance_to(self, entity)</code><br><br>

                which simply returns how far the given entity is from you.<br><br>

                With these functions you can actually already write a very simple AI! Here's a very basic example:

<pre>
def update(self, delta):
    # Find the closest enemy, move towards it and shoot it
    closest_enemy = get_nearest(self, enemies_visible)
    move_to(self, closest_enemy)
    shoot(self, closest_enemy)
</pre>
                
And that's it! Now to make it smarter, you might want to try to pick up powerups, avoid enemies if your health is low or shoot only if your ammo is high.<br><br>
                <b>Advanced</b><br><br>

                In order to cooperate with your teammates, your bot can send 'messages', to their bots. To do this, call this function:<br><br>
                <code>say(self, string, *body)</code><br><br>
                This broadcasts a message to all other players' characters. In order to respond to these messages, in your script you should define the function<br><br>
                <code>respond(self, message)</code><br><br>
                which will be called when your bot receives a message. Using this mechanism, you can share information with other people's bots in the middle of the game, such as enemy positions and
                coordinate your actions. This will prove invaluable when trying to clear more difficult waves.<br>
            Here's an example with messaging.<br><br>
<pre>
target = None

# Response function for received messages.
def respond(self, message):
    global target
    # If someone is asking for help, assume that the message's body contains
    # their entity and set that as a target.
    if message.string == 'Help':
        target = message.body
    # Otherwise if someone says they're ok, we no longer need to go to them.
    elif message.string == 'Ok':
        if target == message.body:
            target = None

def update(self, delta):
    # If our health is below 50%, call for help
    if self.health < self.healthMax / 2:
        say(self, 'Help', self)
    # Otherwise say we're ok.
    elif self.health >= self.healthMax / 2:
        say(self, 'Ok', self)

    # If someone needs help, go to them
    if target is not None:
        move_to(self, target)
</pre>
<br><br>
        In order to use messaging effectively, you'll need to coordinate with your teammates - agree on what the message strings look like and what the message body is. 

                

                
                <br><br><br>For further information on what's available to you, check the Scripting Reference section below.

	    </div>
          </div>
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
            <h4 class="panel-title">
              <a class="accordion-toggle">
	      Scripting Reference
              </a>
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
              Your code should define an <code>update(self, delta)</code> function, where <code>delta</code> refers to the time between frames.<br>
              You can access the following attributes of your bot:<br>
              <code>self.vel</code> - velocity of the bot<br>
              You will probably want to modify this in order to move your bot. The velocity should be assigned to a vector as follows:<br>
              <code>self.vel = Vector(x, y)</code><br>
              The coordinate system starts at <code>(0,0)</code> at the top left corner, so for example<br>
              <code>self.vel = Vector(10,0)</code> will make the bot move to the right with speed <code>10</code>, whereas
              <code>self.vel = Vector(-1,-1)</code> will make the bot move down and left with speed <code>√2
              </code>, i.e. the magnitude of the vector.
              <br><br><br>

              <b>Must define:</b><br>
              <code>update(self, delta)</code><br><br>

              <b>Can define:</b><br>
              <code>respond(self, message)</code><br><br>

              <b>Can access as libraries</b><br>
              <code>math</code><br>
              <code>random</code><br>
              <code>sys</code><br>
              <code>__builtins__</code> (which is a super long list of built in keywords)<br><br>

              <b>Can access as lists:</b><br>
              <code>enemies_visible</code><br>
              <code>enemies_attackable</code><br>
              <code>powerups_visible</code><br><br>

              <b>Can access</b><br>
              <code>core</code><br><br>

              <b>Can access as attributes (prepend with <code>self.</code>):</b><br>
              (can also access most of these things for enemies and stuff)<br>
              stuff in <b>bold</b> can be modified.<br>
              <code>tag</code><br>
              <code>pos</code><br>
              <b><code>vel</code></b><br>
              <code>speed</code><br>
              <code>size</code><br>
              <code>healthMax</code><br>
              <code>health</code><br><br>

              <code>ammo</code><br>
              <code>name</code><br>
              <code>color</code><br>
              <code>speed</code><br>
              <code>range_visible</code><br>
              <code>range_attackable</code><br>
              <code>damage</code><br>
              <code>attack_delay</code><br>
              <code>has_message</code><br>
              <code>message</code><br><br>

              <b>Can call:</b> (stuff in bold is probably pretty useful)<br>
              <b><code>shoot(self, enemy)</code></b><br>
              <b><code>say(self, mtype=None, string=None, entity=None, vector=None, to_self=False)</code></b><br> 
              <code>distance_to(self, target)</code><br>
              <code>move_to_pos(self, pos, speed=None)</code><br>
              <code>move_from_pos(self, pos, speed=None)</code><br>
              <b><code>move_to(self, target, speed=None)</code></b><br>
              <code>move_from(self, target, speed=None)</code><br>
              <code>get_nearest(self, entities, with_distance=False)</code><br>
              <code>get_farthest(self, entities, with_distance=False)</code><br><br>

              <b>Message:</b><br>
              <b><code>source</code></b><br>
              <code>to_self</code><br>
              At least one of the following fields must be set:<br>
              <code>mtype</code><br>
              <code>string</code><br>
              <code>entity</code><br>
              <code>vector</code><br><br>

              <b>Vectors:</b><br>
              Initialise as:<br>
              <code>Vector(x, y)</code><br><br>
              Vector functions:<br>
              <code>DistanceSqrd(point1, point2)</code><br>
              <code>Distance(point1, point2)</code><br>
              <code>LengthSqrd(vec)</code><br>
              <code>Length(vec)</code><br>
              <code>Normalize(vec)</code><br>
              <code>Dot(a, b)</code><br>
              <code>ProjectOnto(w, v)</code><br><br>

              <b>Enums:</b><br>
              MessageType<br>
              <code>HELP = 'help'</code><br>
              <code>OK = 'ok'</code><br>
              <code>KILL = 'kill'</code><br>
              <code>NEED_AMMO = 'need ammo'</code><br>
              <code>LOW_HEALTH = 'low health'</code><br><br>

              PowerupType<br>
              <code>AMMO_UP</code><br>
              <code>HEALTH_UP</code><br>
	    </div>
          </div>
        </div>

	<center>
        <a class="btn btn-lg btn-success" href="{{ url_for('.home') }}">Let's play!</a>
	</center>

      <br><br>
  </div>
{% endblock %}
