{% extends "base.html" %}
{% block head %}
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
  <script type="text/javascript" src="{{url_for('static', filename='createjs-2015.11.26.min.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='src-min-noconflict/ace.js')}}"></script>
  <script>
      //Colors and static variables
      var ENEMYC = "#bf1818";
      var PICKUPC = "#edd95c";
      var COREC = "#47d7f7";
      var FRAMERATE = 60;
      var editor = null;
      var socket = null;
      var gameReady = false;
      var playersLeft = 3;

      //Stage/shape drawer initialised, can be used in multiple functions
      var shape = new createjs.Shape();
      var stage = null;
      var fpsText = null;
      var waitingText = new createjs.Text("Waiting for " + playersLeft +
                                    " more players!", "20px Arial", "x000000");
      waitingText.x = 600;
      waitingText.y = 300;
      waitingText.textAlign = "center";
      var playerNames = [];

      //Game state
      var playerList = [];
      var enemyList = [];
      var powerupList = [];
      var core = null;
      var states = [];
      var statei = 0;

      //Initialise gameCanvas - initialise stage, add shape drawer
      function init() {
        stage = new createjs.Stage("gameCanvas");
        stage.addChild(shape);
        createjs.Ticker.framerate = FRAMERATE;
        createjs.Ticker.addEventListener("tick", handleTick);
      }

      //Initialise the editor
      function editorInit() {
        editor = ace.edit("editor");
        editor.getSession().setMode("ace/mode/python");
        var e = document.getElementById("editor");
        e.style.height = "0%";
        editor.resize();
      }

      //Initialise connection to server
      function socketInit() {
        $(document).ready(function(){
          socket = io.connect('http://' + document.domain + ':' + location.port + '/game-session');
          socket.on('connect', function() {
            connectToGame();
          });
          socket.on('result', function(data) {
            processStates(data);
            readyGame();
          });
          socket.on('game_start', function() {
            //May not need this signal
          });
          socket.on('player_count', function(data) {
            updatePlayersLeft(data);
          });
        });
        window.onbeforeunload = function(e) {
            socket.emit('left', {});
            socket.disconnect();
        }
      }

      //Tell the server when the player has joined
      function connectToGame() {
        socket.emit('joined', {});
      }

      //Get list of states from server reply
      function processStates(data) {
        states = JSON.parse(data).result;
        setState(states[0]);
        for (i = 0; i < playerList.length; i++) {
          var name = new createjs.Text(playerList[i].name, "12px Arial", "x000000")
          playerNames.push(name);
          stage.addChild(name);
        }
      }

      //Function to allow the game to start when enough players are waiting
      function readyGame(data) {
        stage.removeChild(waitingText);
        gameReady = true;
      }

      //Function to update player count
      function updatePlayersLeft(data) {
        playersLeft = JSON.parse(data).count;
        if (playersLeft > 0) {
          waitingText.text = "Waiting for " + playersLeft + " more players!";
        } else {
          waitingText.text = "Ready to start!";
        }
        if (!stage.contains(waitingText)) {
          stage.addChild(waitingText);
        }
        stage.update();
      }

      //Function called when leaving the game
      function exitGame(e) {
        socket.emit('left', {});
        socket.disconnect();
      }

      //Tick handler, clears graphics, draws FPS, updates canvas
      function handleTick(event) {
        if (!event.paused && gameReady) {
          shape.graphics.clear();
          drawFPS();
          displayNextState();
        }
      }

      //Function to draw the ticker's FPS to the screen
      function drawFPS() {
        var fps = createjs.Ticker.getMeasuredFPS();
        if (fpsText == null) {
          fpsText = new createjs.Text(fps, "20px Arial", "x000000");
          fpsText.x = 10;
          fpsText.y = 10;
          stage.addChild(fpsText);
        } else {
          fpsText.text = fps;
        }
      }

      //Clear shape drawer, then draw game state to gameCanvas
      function updateCanvas() {
        drawList(playerList, null);
        drawList(enemyList, ENEMYC);
        drawList(powerupList, PICKUPC);
        if (core != null) {
          drawTriangle(core.pos, core.vel, core.size, COREC);
        }
        stage.update();
      }

      //Draws a triangle facing the direction from vector vel
      function drawTriangle(pos, vel, radius, color) {
        var angle = Math.atan2(vel.y, vel.x) * 180 / Math.PI;
        shape.graphics.beginFill(color).drawPolyStar(pos.x, pos.y, radius, 3, 0,
                                                      angle);
      }

      /* Draw every object in a list - if color not provided then color is
       * obtained from the list objects */
      function drawList(list, color) {
        var isPlayer = false;
        if (color == null)
          isPlayer = true;

        for (i = 0; i < list.length; i++) {
          if (isPlayer) {
            color = list[i].color;
            playerNames[i].x = list[i].pos.x + 10;
            playerNames[i].y = list[i].pos.y - 10;
          }
          drawTriangle(list[i].pos, list[i].vel, list[i].size, color);
        }
      }

      //Convert JSON string json to object, set game state accordingly
      function setState(state) {
        playerList = state.players;
        enemyList = state.enemies;
        powerupList = state.powerups;
        core = state.core;
      }

      //Pause game, update pause button
      function togglePause() {
        createjs.Ticker.paused = !createjs.Ticker.paused;
        var b = document.getElementById("pauseBtn");
        b.innerHTML = (createjs.Ticker.paused) ? "Unpause" : "Pause";
      }

      //Display editor over game canvas
      function toggleEditor() {
        var e = document.getElementById("editor");
        var editorOn = e.style.height == "0%";
        if (editorOn) {
          e.focus();
          e.style.height = "100%";
          e.style.pointerEvents = "auto";
          e.style.borderStyle = "solid";
          e.style.borderWidth = "thin";
        } else {
          e.style.height = "0%";
          e.style.pointerEvents = "none";
          e.style.borderStyle = "hidden";
        }
        editor.resize();
      }

      //Display the next state
      function displayNextState() {
        setState(states[statei]);
        statei++;
        if (statei >= states.length) {
          statei = 0;
        }
        updateCanvas();
      }

      function submitCode() {
        console.log(editor.getValue());
        socket.emit('submit_code', editor.getValue());
      }

      //Function to leave the game
      function leaveGame() {
        window.location.href = "{{ url_for('main.lobby') }}";
      }

    </script>
{% endblock %}
{% block body %}
    <div id="title" class="title">
      <h1 id="heading" class="heading">S U D D E N _ D E V</h1>
    </div>
    <div class="outer">
      <div id="instructionDiv" class="instructionDiv">
        <h1 class="heading">Instructions</h1>
        <ul id="instructionList" class="instructionList">
          <li>Write code in the editor</li>
          <li>Submit code before game begins</li>
          <li>Watch your AI fight to survive</li>
        </ul>
      </div>
      <div id="editorContainer" class="editorContainer">
        <div id="editor"></div>
      </div>
      <script>socketInit()</script>
      <script>editorInit();</script>
      <div id="gameDiv" class="gameDiv">
        <canvas id="gameCanvas" class="gameCanvas" width="1200px"
                height="800px"></canvas>
        <div class="controls">
          <button onclick="toggleEditor()">Toggle Editor</button>
          <button id="pauseBtn" onclick="togglePause()">Pause</button>
          <button id="nextStateBtn" onclick="displayNextState()">Next State
            </button>
          <button id="submitBtn" onclick="submitCode()">Submit Code</button>
          <button id="leaveBtn" onclick="leaveGame()">Leave Game</button>
        </div>
      </div>
    </div>
    <script>init();</script>
{% endblock %}
