{% extends "base.html" %}
{% block head %}
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style_game.css')}}">
  <script type="text/javascript" src="{{url_for('static', filename='src-min-noconflict/ace.js')}}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/4.5.1/pixi.min.js"></script>
  <script>
      //Colors and static variables
      var ENEMYC = "#000000";
      var PICKUPC = "#edd95c";
      var COREC = "#47d7f7";
      var NAMEOFFS = 10;
      var FRAMERATE = 60;
      var INITSCRIPT = 
      "# INSTRUCTIONS" +
      "\n\t# Write your program here" +
      "\n\t# Submit when ready" +
      "\n\t# Watch what happens!" +
      "\n\t# Access state through the \'player\' and \'game\' objects" +
      "\n\t# Have fun!" +
      "\ndef update(player, delta):" + 
      "\n\tplayer.vel = Vector(0, 0)"

      var editor = null;
      var socket = null;
      var gameReady = false;
      var playersLeft = 3;
      var scripts = [`{{user.script}}`,"","",""];

      //Stage/shape drawer initialised, can be used in multiple functions
      var stage = null;
      var renderer = null
      var fpsText = null;
      var waitingText = null;
      var playerNames = [];

      //Game state
      var ticker = null
      var players = {}
      var enemies = {}
      var pickups = {}
      var core = null

      var states = [];
      var statei = 0;

      //Initialise connection to server
      function initSocket() {
        $(document).ready(function(){
          socket = io.connect('http://' + document.domain + ':' + location.port + '/game-session');
          socket.on('connect', function() {
            connectToGame();
          });
          socket.on('result', function(data) {
            processStates(data);
            readyGame();
          });
          socket.on('game_start', function() {
            //May not need this signal
          });
          socket.on('player_count', function(data) {
            updatePlayersLeft(data);
          });
        });
        window.onbeforeunload = function(e) {
            socket.emit('left', {});
            socket.disconnect();
        }
      }

      //Tell the server when the player has joined
      function connectToGame() {
        socket.emit('joined', {});
      }

      function create_player(data) {
        var p = create_triangle(data.pos, data.vel, data.size, data.color);
        stage.addChild(p);
        players[data.tag] = p;
      }

      function create_enemy(data) {
        var e = create_triangle(data.pos, data.vel, data.size, ENEMYC);
        stage.addChild(e);
        enemies[data.tag] = e;
      }

      //Receive batch of game states
      function processStates(data) {
        states = JSON.parse(data).result;

        // Find players from the first game state
        var player_data = states[0].players;
        for (i = 0; i < player_data.length; i++) {
          var data = player_data[i];
          console.log(data.tag);
          create_player(data);
        }
      }

      //Function to allow the game to start when enough players are waiting
      function readyGame() {
        stage.removeChild(waitingText);
        gameReady = true;
      }

      function draw() {
        renderer.render(stage);
      }

      //Function to update player count
      function updatePlayersLeft(data) {
        playersLeft = JSON.parse(data).count;
        if (playersLeft > 0) {
          waitingText.text = "Waiting for " + playersLeft + " more players!";
        } else {
          waitingText.text = "Ready to start!";
        }
        draw();
      }

      //Function called when leaving the game
      function exitGame(e) {
        socket.emit('left', {});
        socket.disconnect();
      }

      function submitCode() {
        console.log(editor.getValue());
        socket.emit('submit_code', editor.getValue());
      }

      //Function to leave the game
      function leaveGame() {
        window.location.href = "{{ url_for('main.lobby') }}";
      }

      //Initialise gameCanvas - initialise stage, add shape drawer
      function initCanvas() {
        ticker = new PIXI.ticker.Ticker();
        ticker.add(game_loop);
        ticker.start();

        var canvas = document.getElementById("gameCanvas");
        renderer = PIXI.autoDetectRenderer(800, 600, {view: canvas});
        stage = new PIXI.Container();
        renderer.backgroundColor = 0xffffff;
        
        waitingText = new PIXI.Text(
            "Waiting for " + playersLeft + " more players...",
              {fontFamily: "Arial",
                fontSize: 20,
                fill: "black",
                align: "center"});

        waitingText.x = 400;
        waitingText.y = 200;
        waitingText.anchor.x = 0.5;
        stage.addChild(waitingText);

        fpsText = new PIXI.Text("", {fontFamily: "Arial", fontSize: 20, fill: "black"});
        fpsText.x = 10;
        fpsText.y = 10;
        stage.addChild(fpsText);
        renderer.render(stage);
      }

      function game_loop(delta) {
        fpsText.text = Math.round(ticker.FPS * 100) / 100;
        if (gameReady && statei < states.length) {
          process_state(states[statei]);
          statei++;
        }
        draw();
      }

      //Clear shape drawer, then draw game state to gameCanvas
      function process_state(state) {
        //Process events
        //Create & delete entities

        //var events = state.events;
        //for (i = 0; i < events.length; i++) {
        //  var e = events[i];
        //  var body = e.body;
        //  switch (e.name) {
        //    case "Enemy_Spawn":
        //      create_enemy(body);
        //      break;
        //    case "Game_End":
        //      break;
        //    default:
        //      console.log("Unknown event: " + e.name);
        //  }
        //}

        //Update
        draw_entities(state.enemies, ENEMYC);
        draw_entities(state.powerups, PICKUPC);
        draw_players(state.players);
        draw_core(state.core);
      }

      function vector_to_rotation(dir) {
        return Math.atan2(dir.y, dir.x) + Math.PI/6;
      }

      function draw_core(core_state) {
        //core.x = core_state.pos.x
        //core.y = core_state.pos.y
      }

      //Create equilateral triangle facing DIR
      function create_triangle(pos, dir, radius, color) {
        var shape = new PIXI.Graphics();
       
        var base = 2 * radius * Math.cos(Math.PI/6);
        var height = radius * (1 +  Math.sin(Math.PI/6));
        
        shape.beginFill(color);
        shape.drawPolygon([0, 0, base, 0, base/2, height]);
        shape.endFill();

        shape.rotation = vector_to_rotation(dir);
        shape.x = pos.x;
        shape.y = pos.y;
        shape.pivot.x = 0.5 * base;
        shape.pivot.y = 1/3 * height;

        return shape;
      }

      // Draw every object in a list the same color
      function draw_entities(list, color) {
        for (i = 0; i < list.length; i++) {
          var t = create_triangle(list[i].pos, list[i].vel, list[i].size, color);
          stage.addChild(t);
        }
      }

      // Draw every player and update name locations
      function draw_players(list) {
        for (i = 0; i < list.length; i++) {
          var data = list[i];
          var p = players[data.tag];
          p.position = data.pos;
          if (data.vel.x != 0 || data.vel.y != 0) {
            p.rotation = vector_to_rotation(data.vel);
          }
        }
      } 

      //Pause game, update pause button
      function togglePause() {
        if (ticker.started) {
          ticker.stop();
        } else {
          ticker.start();
        }
        var b = document.getElementById("pauseBtn");
        b.innerHTML = (ticker.started) ? "Unpause" : "Pause";
        b.classList.toggle("active");
      }

      function setEditorTab(tabi) {
        var tabs = document.getElementsByClassName("tabBtn");
        var previ = -1;
        for (i = 0; i < tabs.length; i++) {
          if (i == tabi) {
            tabs[i].classList.add("active");
          } else {
            if (tabs[i].classList.contains("active")) {
              previ = i;
              tabs[i].classList.remove("active");
            }
          }
        }

        scripts[previ] = editor.getValue();
        editor.setValue(scripts[tabi]);
        editor.focus();
      }

      //Initialise the editor
      function initEditor() {
        editor = ace.edit("editor");
        editor.$blockScrolling = Infinity;
        editor.getSession().setMode("ace/mode/python");
        editor.getSession().setUseWrapMode(true);
        editor.setFontSize(20);
        editor.setValue(scripts[0], 1);
      }

    </script>
{% endblock %}
{% block body %}

    <div id="title" class="title">
      <img src="{{ url_for('static', filename='logo_64.png')}}">
      <h1 id="heading" class="mainHeading">   S U D D E N _ D E V</h1>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col mainCol gameCol">
          <div id="gameDiv" class="game">
            <canvas id="gameCanvas" class="game" width="800px"
                    height="600px"></canvas>
            <div class="controls">
              <button id="pauseBtn" class="controls" onclick="togglePause()">Pause</button>
              <button class="controls" onclick="submitCode()">Submit Code</button>
              <button class="controls" onclick="leaveGame()">Leave Game</button>
            </div>
          </div>
        </div>
        <div class="col mainCol editCol">
          <div class="editorContainer">
            <div id="editor"></div>
          </div>
          <div class="controls">
            <button id="tab0" class="controls tabBtn active" 
                    onclick="setEditorTab(0)">Player1</button>
            <button id="tab1" class="controls tabBtn" onclick="setEditorTab(1)">
                    Player2</button>
            <button id="tab2" class="controls tabBtn" onclick="setEditorTab(2)">
                    Player3</button>
            <button id="tab3" class="controls tabBtn" onclick="setEditorTab(3)">
                    Player4</button>
          </div>
        </div>
      </div>
    </div>
    <script>initCanvas();initSocket();initEditor();</script>
{% endblock %}
  
