{% extends "base.html" %}
{% block body %}
  <script type="text/javascript" charset="utf-8">
    var socket;
    $(document).ready(function(){
      socket = io.connect('http://' + document.domain + ':' + location.port + '/game-session');
      socket.on('connect', function() {
        socket.emit('joined', {});
      });
      socket.on('status', function(data) {
        $('#chat').val($('#chat').val() + data + '\n');
        $('#chat').scrollTop($('#chat')[0].scrollHeight);
      });
    });
    function leave_room() {
      window.location.href = "{{ url_for('main.lobby') }}";
    }
    window.onbeforeunload = function(e) {
        socket.emit('left', {});
        socket.disconnect();

    }
  </script>

  {% block chat_body %}{% endblock %}

  <br>
  <textarea id="chat" cols="80" rows="20"></textarea><br><br>
  <a href="#" onclick="leave_room();">Exit the chat</a>
{% endblock %}
