{% extends "base.html" %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style_lobby.css')}}">
{% endblock %}

{% block body %}

  <div class="container">
    <div class="page-header">
      <div>
        <img src="{{ url_for('static', filename='logo_64.png')}}">
        <h1 style="display:inline-block; white-space:pre">   S U D D E N _ D E V</h1>
      </div>
  
  
      <div class="container-fluid loginDetails">
        <div class="row loginDetails">
          <div class="col-sm loginCell displayPicCell">
            <img class="loginDetails" src="{{user.picture}}">
          </div>
          <div class="col-sm loginCell">
            <h3 class="loginDetails">{{ user.name }}<br>{{ user.email }}</h3>
          </div>
          <div class="col-sm loginCell buttonCell">
            <a href="{{url_for('main.logout')}}">Log out</a>
          </div>
        </div>
      </div>

    <p class="lead" style="white-space:pre">                 Strategize. Script. Survive.</p>
    </div>
  </div>
  <div class="container">
      <h2>Hey, {{ user.name.split(' ', 1)[0] }}!</h3>
      <br>
      {% if noob %}
      <div class="alert alert-success">
	<strong>Looks like you're new to all this, so let's get you up to speed!</strong>
	<p>Everything you could ever want to know can be found in the docs.<br>
	Of course, nobody has time to read all that, so open them in another tab for reference and do this instead:</p>
	<br>
	<b>
	  <ol>
	    <li>Create a game and play around with the default script</li>
	    <br>
	    <li>Get your friends to join your game</li>
	    <br>
	    <li>Use messages to make advanced strategies, beat the game!</li>
	   </ol>
	</b>
      </div>
      {% endif %}

      <div class="well well-lg">You'll see all your stats here once we get around to implementing it...</div>

      <a class="btn btn-lg btn-success" href="{{ url_for('.lobby') }}">Let's play!</a>
      <a class="btn btn-lg btn-info" href="{{ url_for('.docs') }}">Show me the docs</a>
      <a class="btn btn-lg btn-info" href="{{ url_for('.scripts') }}">Manage my scripts</a>

  </div>
{% endblock %}
