{% extends "base.html" %}
{% from 'macros.html' import suddendev_logged_in_header %}

{% block body %}
  {{ suddendev_logged_in_header(user.picture, user.name, user.email) }}

  <div class="container">
      <h2>Hey, {{ user.name.split(' ', 1)[0] }}!</h3>
      <br>
      {% if not user.wave5_trophy %}
        <div class="alert alert-success">
          <strong>Looks like you're new here, so let's get you up to speed!</strong>
          <p>The documentation is your survival companion.<br>
          But who wants to read that, eh? Open the docs in a tab, for reference, and follow these simple steps:</p>
          <br>
          <b>
            <ol>
              <li>Create a game and play around with the default script</li>
              <br>
              <li>Invite friends to join your team</li>
              <br>
              <li>Use messages to craft advanced strategies</li>
             </ol>
          </b>
        </div>
      {% else %}
        <div class="alert alert-success">
          <strong>Not bad!</strong>
          <p>You're on your way to mastery! Few things you should check out to get there:</p>
          <br>
          <b>
            <ol>
	      <li>Read up on <a href="{{ url_for('.docs') }}">messaging</a></li>
              <br>
	      <li>Grab some other people, 3 ideally</li>
              <br>
              <li>Write some super-cool strategies</li>
             </ol>
          </b>
        </div>
      {% endif %}


      <div class="card-deck">
        <div class="card">
          <center>
            {% if user.wave5_trophy %}
              <img class="card-img-top" src="{{ url_for('static', filename='trophies/trophy1.png') }}" alt-text="Trophy sillhouette" style="width:100px; height:100px">
            {% else %}
              <img class="card-img-top" src="{{ url_for('static', filename='trophies/trophy0.png') }}" alt-text="Trophy sillhouette" style="width:100px; height:100px">
            {% endif %} 
          </center>
          <div class="card-block">
            <h4 class="card-title">Order of the Pentagon</h4>
            {% if user.wave5_trophy %}
              <p class="card-text">You have earned this by clearing wave 5.</p>
            {% else %}
              <p class="card-text">You must clear wave 5 to earn this honour.</p>
            {% endif %} 
          </div>
        </div>
        <div class="card">
          <center>
            {% if user.wave10_trophy %}
              <img class="card-img-top" src="{{ url_for('static', filename='trophies/trophy2.png') }}" alt-text="trophy sillhouette" style="width:100px; height:100px">
            {% else %}
              <img class="card-img-top" src="{{ url_for('static', filename='trophies/trophy0.png') }}" alt-text="trophy sillhouette" style="width:100px; height:100px">
            {% endif %} 
          </center>
          <div class="card-block">
            <h4 class="card-title">Geometric Gladiator</h4>
            {% if user.wave10_trophy %}
              <p class="card-text">you have earned this by clearing wave 10.</p>
            {% else %}
              <p class="card-text">you must clear wave 10 to earn this honour.</p>
            {% endif %} 
          </div>
        </div>
        <div class="card">
          <center>
            {% if user.wave15_trophy %}
              <img class="card-img-top" src="{{ url_for('static', filename='trophies/trophy3.png') }}" alt-text="trophy sillhouette" style="width:100px; height:100px">
            {% else %}
              <img class="card-img-top" src="{{ url_for('static', filename='trophies/trophy0.png') }}" alt-text="trophy sillhouette" style="width:100px; height:100px">
            {% endif %} 
          </center>
          <div class="card-block">
            <h4 class="card-title">Master of the Polygon</h4>
            {% if user.wave15_trophy %}
              <p class="card-text">you have earned this by clearing wave 15.</p>
            {% else %}
              <p class="card-text">you must clear wave 15 to earn this honour.</p>
            {% endif %} 
          </div>
        </div>
        <div class="card">
          <center>
            {% if user.wave20_trophy %}
              <img class="card-img-top" src="{{ url_for('static', filename='trophies/trophy4.png') }}" alt-text="trophy sillhouette" style="width:100px; height:100px">
            {% else %}
              <img class="card-img-top" src="{{ url_for('static', filename='trophies/trophy0.png') }}" alt-text="trophy sillhouette" style="width:100px; height:100px">
            {% endif %} 
          </center>
          <div class="card-block">
            <h4 class="card-title">Two-Dimensional God</h4>
            {% if user.wave20_trophy %}
              <p class="card-text">you have earned this by clearing wave 20.</p>
            {% else %}
              <p class="card-text">you must clear wave 20 to earn this honour.</p>
            {% endif %} 
          </div>
        </div>
      </div>

      <br>

      <div class="btn-toolbar justify-content-between" role="toolbar">
        <div class="btn-group" role="group">
	  <a class="btn btn-lg btn-info" href="{{ url_for('.docs') }}">Show me the docs</a>
        </div>
        <div class="btn-group-lg" role="group">
          <button type="button" class="btn btn-lg" data-toggle="modal" data-target="#joinModal" data-type="join">Join a game!</button>
          <button type="button" class="btn btn-lg btn-success" data-toggle="modal" data-target="#createModal" data-type="create">Create a game!</button>
        </div>
      </div>

      <div class="modal fade" id="joinModal" tabindex="-1" role="dialog">
	<form method="POST">
  	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="gameModalLabel">Got an invite?</h5>
              </div>
	      <div class="modal-body">
                <form>
                  <div class="form-group">
                    <label for="recipient-name" class="form-control-label">Display Name:</label>
                    <input type="text" name="name" class="form-control" id="recipient-name" placeholder="anon">
                  </div>
                  <div class="form-group">
                    <label for="message-text" class="form-control-label">Secret Key:</label>
                    <input type="text" name="secret-key" class="form-control" id="secret-key">
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" name="submit" value="join">Join!</button>
              </div>
            </div>
          </div>
	</form>
      </div>

      <div class="modal fade" id="createModal" tabindex="-1" role="dialog">
	<form method="POST">
  	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="gameModalLabel">Create a new game!</h5>
              </div>
	      <div class="modal-body">
                <div class="form-group">
                  <label for="recipient-name" class="form-control-label">Display Name:</label>
                  <input type="text" name="name" class="form-control" id="recipient-name" placeholder="anon">
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" name="submit" value="create">Create!</button>
              </div>
            </div>
	  </form>
        </div>
{% endblock %}
