{% extends "base.html" %}
{% from 'macros.html' import suddendev_header %}
{% block body %}

  {{ suddendev_header() }}
  <div class="container">
      <center>
        <h1 class="display-4">Python scripting co-op survival game.</h1>
        <br>
        <h4 class="display-5">Work as a team to code against waves of enemies.</h4>
      </center>
      <br>
      <center>
        <p>Check out the <a href={{ url_for('.docs') }}>documentation</a> or, better yet, just jump in!</p>
        <a class="btn btn-lg btn-success" href="{{ auth_url }}">Begin</a>
        <br>
      <br>

      <center>
        <video controls autoplay loop height="450">
          <source src="{{ url_for('static', filename='landing/solo-action.mp4') }}">
        </video>
      </center>

      <center>

        <br>

        (By the way, <a href="https://github.com/SuddenDevs/SuddenDev">we're on Github</a>)
      </center>



  </div>
{% endblock %}
