{% extends "base.html" %}
{% from 'macros.html' import suddendev_header %}
{% block body %}

  <div class="container">
        
      {{ suddendev_header() }}

      <h2>A co-op survival game where your code plays for you.</h2>
      <br>
      Write scripts to manipulate a character and work together to slay violent geometric primitives.
      Prove your genius by defending the gloriously circular <i>core</i> from the pointy anatomy of your enemies.</p>

      Play by scripting:</p>
      <ul>
        <li>Scan the environment for enemies and powerups</li>
        <li>Control your character's movement</li>
        <li>Message other characters</li>
        <li>Attack enemies!</li>
      </ul>

      <p>Clearing stages will require not only smart scripts, but novel team strategies.
      <i>You won't survive on your own.</i></p>

      <div class="alert alert-info">
	<strong>Development in progress!</strong>
	<p>It might be early days, but we have something playable and we would <i>love</i> for you to give it a spin and tell us how it goes.</p>
	<ul>
		<li>Documentation a bit confusing?</li>
		<li>Ideas for gameplay?</li>
		<li>Just want to tell us that we've made a horrible game?</li>
	</ul>
	Send it all our way on <b>suddendevcontact@gmail.com</b> - we are honestly greatful for it all.
      </div>

      <center>
	<h4>Check out the docs <a href={{ url_for('.docs') }}>here</a> or better yet, try playing it:</h4>
        <a class="btn btn-lg btn-success" href="{{ auth_url }}">Let's play!</a>
        <br>
        <br>

        (By the way, <a href="https://github.com/SuddenDevs/SuddenDev">we're on Github</a>)
      </center>



  </div>
{% endblock %}
