{% extends "base.html" %}
{% from 'macros.html' import suddendev_logged_in_header %}

{% block body %}
    {{ suddendev_logged_in_header(user.picture, user.name, user.email) }}
    <div class="container">
      <h3>Lobby</h3>
      <p>Join an open game, or create a new one. At the moment anyone can join your game -
      don't worry though - room keys are coming soon!</p>
      <br>
      <form method="POST" class="flexForm">
        <div class="input-group">
          <span class="input-group-addon" id="name-addon">Your Display Name</span>
          <input type="text" name="name" class="form-control" placeholder="anon" aria-describedby="name-addon" id="name">
        </div>
        <br>
          {% for r in rooms %}
            <div class="card">
              <div class="row align-items-center">
                <div class="col">
                  <center>{{ r['lobby_name']}}</center>
                </div>
                <div class="col">
                  <center>{{ r['created_by']}}</center>
                </div>
                <div class="col">
                  <center>{{ r['player_count']}}/4 players</center>
                </div>
                <div class="col">
                  <button type="submit" class="btn btn-block btn-success" name="submit" value="{{ r['game_id'] }}">Join Room</button>
                </div>
              </div>
            </div>
          {% endfor %}
        <br>
        <button type="submit" class="btn btn-info btn-block" name="submit" value="create">Create a new game!</button>
      </form>
    </div>
{% endblock %}
