{% extends "base.html" %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style_lobby.css')}}">
{% endblock %}

{% block body %}
  <div class="container">
    <div class="page-header">
      <div>
        <img src="{{ url_for('static', filename='logo_64.png')}}">
        <h1 style="display:inline-block; white-space:pre">   S U D D E N _ D E V</h1>
      </div>
  
  
      <div class="container-fluid loginDetails">
        <div class="row loginDetails">
          <div class="col-sm loginCell displayPicCell">
            <img class="loginDetails" src="{{user.picture}}">
          </div>
          <div class="col-sm loginCell">
            <h3 class="loginDetails">{{ user.name }}<br>{{ user.email }}</h3>
          </div>
          <div class="col-sm loginCell buttonCell">
            <a href="{{url_for('main.logout')}}">Log out</a>
          </div>
        </div>
      </div>

    <p class="lead" style="white-space:pre">                 Strategize. Script. Survive.</p>
    </div>

    <h3>Lobby</h3>
    <p>Join an open game, or create a new one. At the moment anyone can join your game -
    don't worry though - room keys are coming soon!</p>
    <br>

    <form method="POST" class="flexForm">
      <label for="usr">Display name (this is just what other people will see):</label>
      <input type="text" class="form-control nameInput align-bottom" name="name" placeholder="anon">
      <button type="submit" class="roomControl" name="submit" value="create">Create new game!</button>
      <div class="container-fluid roomTable">
        {% for r in rooms %}
          <div class="row roomRow">
            <div class="col-sm-3">
              <button type="submit" class="btn btn-success roomControl" name="submit" value="{{ r['game_id'] }}">
              Join Room</button>
            </div>
            <div class="col-sm-3 roomCol">
              <span>{{ r['lobby_name']}}</span>
            </div>
            <div class="col-sm-3 roomCol">
              <span>{{ r['created_by']}}</span>
            </div>
            <div class="col-sm-3 roomCol">
              <span>{{ r['player_count']}}/4 players</span>
            </div>
          </div>
        {% endfor %}
      </div>
    </form>
  </div>
{% endblock %}
