{% macro suddendev_header() %}
<div class="card">
  <div class="card-block">
    <div class="container">
      <div class="row align-items-center">
        <div class="col">
	  <center>
	    <a href="{{ url_for('.index') }}" style="text-decoration: none !important;">
              <img style="max-width:50%; max-height:50%;" src="{{ url_for('static', filename='logo.png')}}">
            </a><br>
            <img src="{{url_for('static', filename='subtitle.gif')}}">
	  </center>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
{% endmacro %}

{% macro suddendev_logged_in_header(picture, name, email) %}
<div class="card">
  <div class="card-block">
    <div class="container">
      <div class="row align-items-center">
        <div class="col">
	  <a href="{{ url_for('.home') }}" style="text-decoration: none !important;">
            <div>
              <img style="max-width:50%; max-height:50%;" src="{{ url_for('static', filename='logo.png')}}">
              <br>
              <img src="{{url_for('static', filename='subtitle.gif')}}" style="display:inline-block; horizontal-align: middle;">
            </div>
	  </a>
        </div>
        <div class="col-md-1">
          <img src="{{ picture }}" class="rounded-circle img-fluid">
        </div>
        <div class="col-md-2">
	        <div class="row">
	          <div class="col">
              <h5>{{ name }}</h5>
            </div>
	          <div class="col">
              <h5>{{ email }}</h5>
            </div>
	          <div class="col">
              <a href="{{url_for('main.logout')}}">Log out</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
{% endmacro %}
