.title{
  width: 500px;
  margin: 0 auto;
}

.mainHeading{
  display: inline-block;
  white-space: pre;
}

.mainCol{
  padding: 12.5px;
}

.gameCol{
  width: 800px;
  float: left;
}

.editCol{
  min-width: 500px;
  margin-left: 825px;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

.gameDiv {
  height: 600px;
  width: 800px;
  margin: 0 auto;
}

.gameCanvas{
  border-style: solid;
  border-width: thin;
  float: right;
  margin-bottom: 10px;
}

.controls{
  float: right;
}

.editorContainer{
  border-style: solid;
  border-width: thin;
}

@media screen {
  #editor {
    height: 600px;
  }
}
