body{
  height: 100%;
  margin: 0;
}

.greyBorder{
  border-style: solid;
  border-width: thin;
  border-color: #ccc;  
}

.title{
  width: 500px;
  margin: 0 auto;
}

.mainHeading{
  display: inline-block;
  white-space: pre;
}

.mainGrid{
  display: flex;
  flex-direction: column;
  align-content: stretch;
}

.mainRow{
  display: flex;
  flex-direction: row;
  align-content: stretch;
  order: 0;
  flex: 0 0 auto;
}

.detailRow{
  display: flex;
  order: 1;
  flex: 1 1 auto;
  align-content: stretch;
  height: 100%;
}

.detailGrid{
  display: flex;
  flex: 1 1 auto;
  align-content: stretch;
  margin: 12.5px;
}

.detailCol{
  display: flex;
  flex: 1 1 auto;
  align-content: stretch;
  text-align: center; 
}

.mainCol{
  margin: 12.5px;
}
.gameCol{
  width: 800px;
  order: 1;
  flex: 0 0 auto;
}

.editCol{
  order: 2;
  min-width: 500px;
  flex: 1 1 auto;
}

div.game {
  display: inline-block;
  margin: 0 auto;
}

canvas.game{
  float: right;
}

div.controls{
  overflow: hidden;
  border-top:none;
  background-color: #f1f1f1;
}

button.controls{
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

button.controls.active{
  background-color: #ccc;
}

button.controls:hover{
  background-color: #ddd;
}

button.controls.hidden{
  visibility: hidden;
}

button.controls.noEvents{
  pointer-events: none;
}

button.controls:active{
  background-color: #bbb;
}

@media screen {
  #editor {
    height: 600px;
  }
}
