.greyBorder{
  border-style: solid;
  border-width: thin;
  border-color: #ccc;  
}

div.console{
  overflow-y: auto;
  overflow-x: hidden;
  word-wrap: break-word;
  padding: 10px;
  text-align: left;
}

span.console{
  word-wrap: break-word;
  display: block;
  width: inherit;
  word-wrap: break-word;
}

.hidden{
  pointer-events: none;
  background-color: transparent;
}