.greyBorder{
  border-style: solid;
  border-width: thin;
  border-color: #ccc;  
}

.ready{
  color: #fff !important;
  background-color: #6bd66b !important;
  border-color: #6bd66b !important;
}

.activeReady{
  color: #6bd66b !important;
  background-color: #fff !important;
  border-color: #ccc !important;
  font-weight: bold !important;
}

span.console{
  word-wrap: break-word;
  display: block;
  width: inherit;
  word-wrap: break-word;
  font-family: "Courier New";
}

.hidden{
  pointer-events: none;
  background-color: transparent;
}

.noEvents{
  pointer-events: none;
}

.greyOut{
  color: #aaa;
}

.btn{
  font-weight: bold;
}

.topRow{
  height: 50px;
  width: 100%;
}

.midRow{
  height: 600px;
}

.mainCol{
  margin: 15px;
  padding: 0;
}

.gameCol{
  width: 800px;
  flex: 0 0 auto;
}

.inlineBlock{
  display: inline-block;
}

.block{
  display: block;
}

.btnRow{
  width: 100%;
  margin-top: 10px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.fullWidth{
  width: 100%;
}

.fullHeight{
  height: 100%;
}

.noMargin{
  margin:0;
}

.noDisplay{
  display:none !important;
}

.noPadding{
  padding:0;
}

.consoleContainer{
  padding-top: 15px;
  height:30%;
  box-sizing: border-box;
}

div.key{
  padding: 10px;
  display: inline-block;
}

span.key{
  text-align: center;
}

#editor{
  height:70%;
  box-sizing: border-box;
  border-top: none;
}

#console{
  overflow-y: auto;
  overflow-x: hidden;
  word-wrap: break-word;
  padding: 10px;
  text-align: left;
}

#chatContainer{
  display: flex;
  flex-direction: column;
  align-content: stretch;
  padding: 10px;
}

#chat{
  overflow-y: auto;
  overflow-x: hidden;
  word-wrap: break-word;
  padding-bottom: 0;
  text-align: left;
  flex: 1 1 auto;
}

div.chatIn{
  width: inherit;
  flex: 0 0 auto;
  border: none;
  border-top: solid;
  border-top-width: thin;
  border-top-color: #ccc;
  margin-left: -10px;
  margin-right: -10px;
}

input.chatIn{
  border:none;
  padding-right: 10px;
  padding-left: 10px;
}