.code-main {
    font-size: 20px;
}

.code-block {
    font-size: 18px; 
    padding-left: 1rem;
}
.card, .card-outline-danger {
    padding-bottom: 0rem;
    margin-bottom: 0rem;
}
pre {
  margin-bottom: 0;
}

.card-inverse, .card-success {
  color: #ffffff;
}

.python {
  background-color:#ffffff;
}

.clink {
    color: #1111ff;
}
