.gameCanvas{
  border-style: solid;
  border-width: thin;
}

.controls{
  width: 750px;
  margin: 0 auto;
}

.outer{
  width: 960px;
  margin: 0 auto;
}

.editorContainer {
  width: 600px;
  left: 660px;
  position: fixed;
  z-index: 1;
}

@media screen {
  #editor {
    position: relative;
    height: 100%;
    width: 100%;
  }
}
